div
  h1 BenFranzi
  ul(class="nav nav-tabs")
    li(role="presentation" id="tab_home")
      a(href="#Home") Home
    li(role="presentation" id="tab_blog")
      a(href="#Blog") Blog
    li(role="presentation" id="tab_projects")
      a(href="#Projects") Projects
