div(id='blog' style="padding: 25px")
  h1 this is the blog
  div(style="background-color: lightgrey; width: 100%; height: 1px; margin: 0 auto;")
  p
  | Et hominem super eam, et ridere ad sinistram aurem,
  | et concisa countertop est. Longe positum est caput
  | eius paleas hat, ut plus esset facies ejus. Mulier
  | quae dextro idcirco posuerat sellam contra ostium in
  | checkmark Clipboard faciebat prandium et ambulavit in
  |  omni tempore aliquo. Omnino nemo cupidum puella eius
  | in iubilo et muniret manu.
