div(id='home' style="padding: 25px")
  h1 this is the home
  div(style="background-color: lightgrey; width: 100%; height: 1px; margin: 0 auto;")
  p
  | Moonlite in mane coffee in eius partem consuetudinem.
  | Fere minuta deponere noluit Arabicam quodcumque superesset,
  | susurrans in speculum conpescuit unda, erue eum de saccharo
  | Ipsumque facis, cum repente, cum aliquot nummis repone dorsum
  |  sugars et expecta indicare devoratis sonus ferri soluta et
  | relinquunt amet. A typicam prandium cantilenam.
