div(id='projects' style="padding: 25px")
  h1 these are the projects
  div(style="background-color: lightgrey; width: 100%; height: 1px; margin: 0 auto;")
  p
  | Deinde ad depelleret Pawnshop fode valvas unde absconditi
  | succedant reserata foramen tempus in fronte iustus in tempus,
  | quo tempore eam tabernam venter ei pateret. Et sedebat tota
  | die illa et non facere quam fecerit, et noluit, et nolite
  | facere domum. Nihil aliud est quam vita. Quae faciunt vitam
  | hominis est.
